<link rel="stylesheet" href="/asset/css/beautiful.css">
<link rel="stylesheet" href="/asset/css/article.css">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="#"><img src="{{ asset('/asset/pictures/Logo.png') }}" class="logo"/></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item {% if app.request.attributes.get('_route') == 'accueil' %}active{% endif %}">
				<a class="nav-link" href="{{path('accueil')}}">
					Accueil
				</a>
			</li>
			<li class="nav-item {% if app.request.attributes.get('_route') == 'about' %}active{% endif %}">
				<a class="nav-link" href="{{path('about')}}">A propos</a>
			</li>
			<li class="nav-item {% if app.request.attributes.get('_route') == 'contact' %}active{% endif %}">
				<a class="nav-link" href="{{path('contact')}}">Contact</a>
			</li>
			<li class="nav-item {% if app.request.attributes.get('_route') == 'users_new' %}active{% endif %}">
				<a class="nav-link" href="{{path('users_new')}}">Créer un compte</a>
			</li>
		</ul>
		<ul class="navbar-nav push-right mx-5">
			{% if app.user %}
				<li class="nav-item">
					<p class="nav-link">{{ app.user.firstName}}</p>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('app_logout')}}">Déconnexion</a>
				</li>
			{% else %}
				<li class="nav-item {% if app.request.attributes.get('_route') == 'app_login' %}active{% endif %}">
					<a class="nav-link" href="{{path('app_login')}}">Se connecter</a>
				</li>
			{% endif %}
		</div>
	</nav>
