{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}
	<div class="profil">
		<div class="card mb-3">
			<h3 class="card-header">
				{{ user.firstname }}
				{{ user.lastname }}
			</h3>
			
		</div>
	</div>

	<ul>
		<td><button onclick="display('home')">Accueil</button></td>
		<td><button onclick="display('info')">Infos</button></td>
		<td><button onclick="display('like')">Likes</button></td>
		<td><button onclick="display('share')">Shares</button></td>
		<td><button onclick="display('comment')">Comment</button></td>
	</ul>

	<div class="accueil" id="home">
		<div class="likeAccueil">
			<h2>Likes</h2>
			{% for i in 0..5 %}
				{% if articleLike[i] is defined %}
					{{ articleLike[i].title }}
				{% endif %}
			{% endfor %}
		</div>

		<div class="shareAccueil">
			<h2>Shares</h2>
			{% for i in 0..5 %}
				{% if articleShare[i] is defined %}
					{{ articleShare[i].title }}
				{% endif %}
			{% endfor %}
		</div>

		<div class="commentAccueil">
			<h2>Comments</h2>
			{% for i in 0..5 %}
				{% if articleComment[i] is defined %}
					{{ articleComment[i].title }}
				{% endif %}
			{% endfor %}
		</div>
	</div>

	<div class="info" id="info" style="display:none">
		{{ include('users/_form.html.twig') }}
	</div>

	<div class="likeAccueil" id="like" style="display:none">
		<h2>Likes</h2>
		{% for articlesLikes in articleLike %}
			{{ articlesLikes.title }}
		{% endfor %}
	</div>

	<div class="shareAccueil" id="share" style="display:none">
		<h2>Shares</h2>
		{% for articlesShares in articleShare %}
			{{ articlesShares.title }}
		{% endfor %}
	</div>

	<div class="commentAccueil" id="comment" style="display:none">
		<h2>Comments</h2>
		{% for articlesComments in articleComment %}
			{{ articlesComments.title }}
		{% endfor %}
	</div>

	<script>
		function display(divClass) {
			document.getElementById("home").style.display = "none";
			document.getElementById("info").style.display = "none";
			document.getElementById("like").style.display = "none";
			document.getElementById("share").style.display = "none";
			document.getElementById("comment").style.display = "none";
			document.getElementById(divClass).style.display = "block";
		}
	
	</script>
{% endblock %}
