{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}


{% block page_content %}

	<div class="container">

		<div class="row">
			<div class="stats col-12">
				<div class="col-12 alert-info">
					<h2>Derniers articles</h2>
					<a href="{{ path('articles_new')}}" class="action-new btn btn-primary">Créer nouvel article</a>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th>Id</th>
							<th>Catégorie</th>
							<th>Auteur</th>
							<th>Date</th>
							<th>Titre</th>
							<th>Image</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for lastsArticle in lastsArticles %}
							<tr>
								<td>{{ lastsArticle.id }}</td>
								<td>{{ lastsArticle.category}}</td>
								<td>{{ lastsArticle.user }}</td>
								<td>{{ lastsArticle.date|date("d/m/Y")  }}</td>
								<td>{{ lastsArticle.title }}</td>
								<td><img src="{{ asset(lastsArticle.image) }}" width="200"></td>
								<td class="viewLink">
									<a href="{{ path('articles_show', {'id': lastsArticle.id}) }}" class="btn btn-success">Consulter</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="4">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

			</div>

		</div>
	</div>
	{% include "include/footer.html.twig" %}
{% endblock %}
