{% extends 'base.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block body %}
    <h1>Articles index</h1>
{{ knp_pagination_render(articles) }}
        {% for article in articles %}
    <div>
        <div class="conteneuri">
            <div class="card mb-3">
                    <h3 class="card-header">{{ article.title|slice(1,10) ~ '...' }}</h3>
                    <div class="card-body">
                        <h5 class="card-title">{{ article.subTitle|slice(1,10) ~ '...' }}</h5>
                        <h6 class="card-subtitle text-muted">{{ article.date ? article.date|date('Y-m-d H:i:s') : '' }}</h6>
                    
                </div>
                <img src="{{ article.image }}" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                <div class="card-body">
                    <p class="card-text">{{ article.articleContent|slice(1,104) ~ '...' }}</p>
                </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item cen"><a href="{{ path('articles_show', {'id': article.id}) }}" >Voir Plus</a></li>
                        {% if app.user and is_granted('ROLE_ADMIN') %}
                            <li class="list-group-item cen"><a href="{{ path('articles_edit', {'id': article.id}) }}">Edit</a></li>
                        {% endif %}
                    </ul>  
            </div>    
        </div>
        {% else %}
     </div>
        {% endfor %}

    <a href="{{ path('articles_new') }}">Create new</a>
{% endblock %}








       {# 
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Title</th>
                <th>SubTitle</th>
                <th>Image</th>
                <th>ArticleContent</th>
                <th>Visibility</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody> #}


            {# <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.date ? article.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.title }}</td>    
                <td>{{ article.subTitle }}</td>
                <td><img src="{{ asset('/asset/pictures/' ~ article.image) }}"alt=""></td>
                <td>{{ article.articleContent }}</td>
                <td>{{ article.visibility ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('articles_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('articles_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>#}
     
        {# </tbody>
    </table>

<div> #}
