{% extends 'base.html.twig' %}

{% block title %}
	{{ article.title|capitalize }}
{% endblock %}

{% block body %}
	<div class="article">
		<div >
			<h3 class="cshowArticle" >{{ article.title }}</h3>
		
				<h5 class="cshowArticle">{{ article.subTitle }}</h5>
				<h6 >{{ article.date ? article.date|date('Y-m-d H:i:s') : '' }}</h6>
			</div>
			<img src="{{ article.image }}" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveaspectratio="xMidYMid slice" viewbox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">

				<p>{{ article.articleContent }}</p>
			</div>
		</div>
	</div>

	{% for comment in comments %}
		<div class="comments">
			<div class="card mb-3">
				<h3 class="card-header">Ecrit par
					{{ comment.user }}
				</h3>
				<div class="card-body">
					<h6 class="card-title">{{ comment.comment }}</h6>
					<h6 class="card-subtitle text-muted">{{ comment.date ? comment.date|date('Y-m-d H:i:s') : '' }}</h6>
				</div>
			</div>
		</div>
	{% endfor %}

	{% if app.user %}
		<div class="comment_form">
			{{ include('comments/_form.html.twig') }}
		</div>
	{% endif %}
	<div class="button">
		<a class="btn btn-primary ac" href="{{ path('accueil') }}">Retour à l'accueil</a>
	</div>
	{% if app.user and is_granted('ROLE_ADMIN') %}
		<a href="{{ path('articles_edit', {'id': article.id}) }}">edit</a>

		{{ include('articles/_delete_form.html.twig') }}
	{% endif %}
{% endblock %}
