{% extends 'base.html.twig' %}

{% block title %}States index{% endblock %}

{% block body %}
    <h1>States index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>State</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for state in states %}
            <tr>
                <td>{{ state.id }}</td>
                <td>{{ state.state }}</td>
                <td>
                    <a href="{{ path('states_show', {'id': state.id}) }}">show</a>
                    <a href="{{ path('states_edit', {'id': state.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('states_new') }}">Create new</a>
{% endblock %}
